/* GENEL TAŞMA ENGELLEYİCİ */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* SLIDER */
.slider {
  position: relative;
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    #000 10% 90%,
    transparent
  );
}

/* LIST */
.slider .list {
  position: relative;
  width: 100%;
  height: 100%;
}

/* ITEM – MOTOR BOZULMADAN */
.slider .list .item {
  position: absolute;
  width: var(--width);
  height: var(--height);
  top: 0;
  left: 100%;
  animation: autoRun 30s linear infinite;
  transition: filter 0.5s;

  animation-delay: calc(
    (30s / var(--quantity)) * var(--position) - 12.5s
  );
}

/* SLIDE CARD */
.slide {
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  box-sizing: border-box;
}

.slide p {
  font-size: 14px;
  color: #33334a;
}

/* IMAGE */
.slider .item img {
  width: 100%;
  height: auto;
}

/* ANIMATION */
@keyframes autoRun {
  from { left: 100%; }
  to   { left: calc(var(--width) * -1); }
}

/* HOVER */
.slider:hover .item {
  animation-play-state: paused;
  filter: grayscale(1);
}
.slider .item:hover {
  filter: grayscale(0);
}
